@media screen and (max-width: 1600px){
    .s_cover_right{
        max-width: 55%;
    }

    .s_text_box{
        padding-left: 10vw;
    }
}

@media screen and (min-width: 960px){
    #footer{
        padding-bottom: 50px;
    }
}